<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Books</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <h1>List Books</h1>
    <form action="/books" method="get">
        <input type="text" name="search" id="">
        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <td>Image</td>
                <td>Title</td>
                <td>Author</td>
                <td>ISBN</td>
                <td style="width: 400px;">Descriptions</td>
                <td>Publisher</td>
                <td>Link</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <% result.forEach(el => { %>
                <tr>
                    <td>
                        <img style="max-width: 200px;" src="<%=el.imageUrl%>" alt="">
                    </td>
                    <td><%= el.title%></td>
                    <td><%= el.author%></td>
                    <td><%= el.isbn%></td>
                    <div style="max-width: 400px;">
                        <td><%= el.descriptions%></td>
                    </div>
                    <td><%= el.Publisher.name%></td>
                    <td>
                        <a href="<%= el.link%>" type="button">Buy</a>
                    </td>
                    <td>
                        <form action="/<%= userId %>/books/<%= el.id %>/favorite" method="post">
                            <button type="submit">Add to Favorite</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>