<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Books</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <h1>List Books</h1>
    <a type="button" href="/books/add">Add Book</a>
    <form action="/books" method="get">
        <div>
            <input type="text" name="search" id="">
            <button type="submit">Search</button>
        </div>
    </form>
    <form action="/books" method="get">
        <div>
            <% let all = {name: 'All'} %>
            <% publishers.unshift(all)%>
            <% publishers.forEach(el => { %>
                <button name="PublisherId" value="<%= el.id%>" type="submit"><%= el.name %></button>
            <% }) %>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <td>Image</td>
                <td>Title</td>
                <td>Author</td>
                <td>ISBN</td>
                <td style="width: 400px;">Descriptions</td>
                <td>Publisher</td>
                <td>Link</td>
            </tr>
        </thead>
        <tbody>
            <% result.forEach(el => { %>
                <tr>
                    <td>
                        <img style="max-width: 200px;" src="<%=el.imageUrl%>" alt="image">
                    </td>
                    <td><%= el.title%></td>
                    <td><%= el.author%></td>
                    <td><%= el.isbn%></td>
                    <div style="max-width: 400px;">
                        <td><%= el.descriptions%></td>
                    </div>
                    <td><%= el.Publisher.name%></td>
                    <td>
                        <div style="display: flex; flex-direction: column;">
                            <a href="<%= el.link%>" type="button">Buy</a>
                            <a href="/books/<%= el.id%>/edit" type="button">Edit</a>
                            <a href="" type="button">Add to Favorites</a>
                            <a href="/books/<%=el.id%>/delete" type="button">Delete</a>
                        </div>
                    </td>
                    
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>