<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        label{
            font-weight: bold;
        }
        p{
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <h1>Profile</h1>
    <div style="width: 500px;">
        <div>
            <label for="">Name</label>
            <p><%= result.name%></p>
        </div>
        <div>
            <label for="">Phone Number</label>
            <p><%= result.phoneNumber%></p>
        </div>
        <div>
            <label for="">Email</label>
            <p><%= result.User.email%></p>
        </div><br>

        <div>
            <label for="" style="font-size: 28px;">Favorites</label>
        </div>
        <div class="card-group row">
            <% books.forEach(el => { %>
                <div class="col-lg-3" style="margin: 10px 20px; ">
                <div class="card">
                    <img src="<%=el.imageUrl%>" class="card-img-top" alt="..." style="">
                    <div class="card-body" >
                      <h5 class="card-title"><%=el.title%></h5>
                      <p><%= el.caption %></p>
                      <p>Published By <%=el.Publisher.name%></p>
                      <p class="card-text"><%=el.descriptions%></p>
                      <div style="display: flex; gap: 10px;">
                          <a href="/<%= userId %>/books/<%=el.id%>/remove" type="button">Remove</a>
                      </div>
                    </div>
                </div>
            </div> 
            <% }) %>
          </div>
    </div>
</body>
</html>